NOTSIP_HOST=127.0.0.1
NOTSIP_PORT=8765
NOTSIP_DATA_DIR=./data
NOTSIP_LOCAL_TIMEZONE=Africa/Kigali
NOTSIP_MAX_TOOL_ROUNDS=8
NOTSIP_AUTONOMY_LEVEL=2
NOTSIP_API_KEY=
NOTSIP_EVENT_HMAC_SECRET=
NOTSIP_PAIRING_SECRET=
NOTSIP_LLM_BASE_URL=
NOTSIP_LLM_API_KEY=
NOTSIP_LLM_MODEL=
NOTSIP_BRAVE_API_KEY=
